body
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(250, 233, 210);
}

hr
{
    width: 500px;
}

#titulo
{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#jogo
{
    display: flex;
    justify-content: space-around;
}

#jogo1
{
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

#jogo2
{
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.game
{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.tile
{
    /*Caixa*/
    border: 2px solid rgb(226, 201, 165);
    border-radius: 13px;
    width: 60px;
    height: 60px;
    margin: 2.5px;
    background-color: rgb(226, 201, 165);

    /*Texto*/
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correto
{
    background-color: green;
    color: white;
    border-color: white;
}

.contem
{
    background-color: orange;
    color: white;
    border-color: white;
}

.errado
{
    background-color: red;
    color: white;
    border-color: white;
}

.keyboard-row
{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile
{
    /* Caixa */
    border: 1px solid lightgray;
    width: 36px;
    height: 40px;
    margin: 1px;

    /* Texto */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.enter-key-tile
{
    /* Caixa */
    border: 1px solid lightgray;
    width: 76px;
    height: 40px;
    margin: 1px;

    /* Texto */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
